@page "/cart"
@using Blazored.LocalStorage
@using Front.Services
@using Shop_API.Models
@inject HttpClient Http
@inject CartService CartService
@inject ApiService ApiService
@inject IJSRuntime JS
@inject ILocalStorageService localStorage;


<PageTitle>Корзина</PageTitle>

@{
    var groupedCartItems = CartService.CartItems
        .GroupBy(item => item.Name)
        .Select(group => new { Name = group.Key, Cost = group.First().Cost, Count = group.Count() });
}

<ul>
    <h1>Корзина</h1>

    <p>Товаров в корзине: @CartService.CartItems.Count</p>
    <p>Сумма: @CartService.CartItems.Sum(CartItems => CartItems.Cost)</p>

    @foreach (var product in groupedCartItems)
    {
        <li class="d-flex flex-row">
            <div>
                @product.Name @product.Cost - @product.Count шт.
            </div>
        </li>
        <div>
            <button class ="btn alert-danger" @onclick="() => RemoveFromCart(product.Name)">Удалить</button>
        </div>
    }
    <p></p>

    @if (UserName != "" && CartService.CartItems.Count > 0)
    {
        <p>Оформление заказа на имя @UserName</p>
        <button class="btn bg-primary" @onclick="() => CreateOrder()">Оформить заказ</button>
    }

</ul>

@code {
    string UserName = "";
    void RemoveFromCart(string productName)
    { 
        CartService.CartItems.Remove(CartService.CartItems.FirstOrDefault(p => p.Name == productName));
    }

    protected override async Task OnInitializedAsync()
    {
        JwtToken tokenData = JwtHelper.DecodeJwtToken(await localStorage.GetItemAsync<string>("key"));
        UserName = tokenData.UserName;
    }

    private async Task CreateOrder()
    {
        JwtToken tokenData = JwtHelper.DecodeJwtToken(await localStorage.GetItemAsync<string>("key"));
        List<User> users = await ApiService.GetUsers();

        var user = users.FirstOrDefault(x => x.Login == tokenData.UserLogin);
        if (user != null)
        {

            var response = await ApiService.PostProductsAsync(CartService.CartItems, user.Id);
        }
        else
        {
        }
    }
}


